# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini
node_modules
src
THEMES/plugins/kea_activities/build/*.*


# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
public/frontend/bundle.js
dist\*.*
dist/bundle.js
dist/bundle.css
dist/bundle.js
dist/bundle.js.LICENSE.txt
dist/bundle.js
STRIPE/cli
