/* make the customizations to Bootstrap 
here we can customise by changing built-in BS variables
*/
/*
$theme-colors: (
    "info": tomato,
    "danger": teal
);
*/




/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap"; 


$fp-size-md: false;
$fp-size-lg: false;
$fp-countries: "gb", "ru";
$fp-4x3-path: '~flagpack-dart-sass/flags/4x3/';
$fp-1x1-path: '~flagpack-dart-sass/flags/1x1/';

@import "~flagpack-dart-sass/src/flagpack"; 

/* additional theming which relies on Bootstrap SCSS 
https://react-bootstrap.github.io/getting-started/theming/
working with BS variables (which may or may not have been overridden) 
*/

.btn-flat {
      background-color: $pink;
      color: white;
}

.test123
{
    color: red;
}

.search-button
{
    display:inline-block;
}

.search-field
{
    max-width: 200px;
}

$ten-px: 10px;

/* todo use bs margin classes */
.space-above-below
{
    margin: $ten-px 0px $ten-px 0px;
}


/* extra CSS classes - TODO @import is being depreacted 
  TODO not sure we need this? can we not do everything
  by tweaking Bootstrap above? this would be just CSS outside of BS
*/

$custom-smaller-font: 0.7rem;

.capitalize {
    text-transform: capitalize;
}

.miniNav .active
{
    text-decoration: underline;
    font-weight: bold;
}

.responsive-vid-container
{
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
    
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

.test
{
    background-color: pink;
    width: 100%;
}

.inline-space
{
    display:inline-block;
    width: 10px;
    text-align: center;
}

.inline-space::before
{
    content: "-";
}


.grammar-tags span
{
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
}




.inner-footer
{
    font-size: $custom-smaller-font;
    display: inline-block;
    
}

html {
    height: 100%;
}

.main-content
{
    padding-bottom: 10px;
}

.pointer
{
    cursor: pointer;
}

.symbols
{
    color: #0a58ca;
}

.selected-lang
{
    border: 2px solid #000000;
}

.exercise-question
{
    input
    {
        width: 200px;
    }
}

.correct-answer
{
    display: inline-block;
    background-color:lightgreen;
    padding: 4px;
    border-radius: 5px;  
}
